# Git and OS files
.git
.gitignore
.DS_Store

# Local dependencies
node_modules
admin/node_modules
packages/*/node_modules

# Build artifacts
dist
admin/dist
packages/*/dist

# Logs and local config
npm-debug.log*
.env